body{
    font-family: 'Montserrat', sans-serif;
    }
    input, textarea { 
    outline: none;
    }
    form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #53595f;
    }
    .form-left-decoration,
    .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: crimson;
    }
    .form-left-decoration {
    bottom: 60px;
    left: -30px;
    }
    .form-right-decoration {
    top: 60px;
    right: -30px;
    }
    .form-left-decoration:before,
    .form-left-decoration:after,
    .form-right-decoration:before,
    .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
    }
    .form-left-decoration:before {
    top: -20px;
    }
    .form-left-decoration:after {
    top: 20px;
    left: 10px;
    }
    .form-right-decoration:before {
    top: -20px;
    right: 0;
    }
    .form-right-decoration:after {
    top: 20px;
    right: 10px;
    }
    .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: crimson;
    }
    .form-inner {
    padding: 40px;
    }
    .form-inner input,
    .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #fff;
    }
    .form-inner textarea {
    resize: none;
    }
    button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: crimson; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    }
    button:hover {
    background: red;
    }
    @media only screen and (max-width: 767px) {
    #contact-form {
        padding: 90px 40px 10px 60px;
      }
      form{
          width: 100%
      }
    }
    @media only screen and (min-width: 768px) {
    #contact-form {
        padding: 125px 60px 33px 140px;
      }
    }
    @media only screen and (min-width: 1200px) {
        #contact-form {
        padding: 125px 350px 70px 525px;
      }
    }